
#textblock {
  background-color: #210002;
  height: 900px;
  margin-top: -160px;
}

.foto{
  width: 100px;
  position: absolute;
  left: 590px;
}

#textblock-container {
  width: 25%;
  margin: 0 auto;
  padding-top: 70px;
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#textblock-title {
  color: #ffaf1b;
  font-size: 35px;
  font-weight: 600;
}

#textblock-content {
  color: #ffaf1b;
  font-size: 15px;
}


#textblock-devsense {
  text-decoration: none;
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 600;
}

.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}

#artback {
  background-image: url(./images/background.png);
}

#mountain {
  background-image: url(./images/mountains.png);
}


#jungle1 {
  background-image: url(./images/jungle1.png);
}

#jungle2 {
  background-image: url(./images/jungle2.png);
}

#jungle3 {
  background-image: url(./images/jungle3.png);
}

#jungle4 {
  background-image: url(./images/jungle4.png);
}

#jungle5 {
  background-image: url(./images/jungle5.png);
}

#manonmountain {
  background-image: url(./images/man_on_mountain.png);
}


.nombre{
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  margin-left: 0%;
  color: #6b4600;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  background-color: #ec9a0096;
  width: 100%;
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.descrp{
  font-size: 20px;
}

